.work{
    color: #51B11A;
margin-bottom: 108px;
font-family: "Roboto";
font-size: 96.483px;
font-style: normal;
font-weight: 700;
line-height: 108.544px;
}
.revenue{
    color: #FFF;

font-family: "Roboto Condensed";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.topSec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 84px;
    margin-right: 74px;
    margin-left: 100px;
}
@media (max-width: 768px) {
    .work{
    margin-bottom: 38px;
    font-size: 36.483px;
    }
    .revenue{
        font-size: 18px;
    }
    .topSec{
        flex-direction: column;
        margin: 2px;
    }
    .worldImg{
        width: 300px;
        height: 300px;
    }
    .textSec{
        padding-inline: 30px;
    }
}