/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 78px; /* Adjust background as needed */
  }
  
  .logo img {
    height: 50px; /* Adjust logo size */
    margin-left: 100px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    background-color: #000;
    padding-inline: 120px;
    padding-block: 40px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 51.84px; /* Equal gap between items */
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0;
  }
  .home{
    color: #FCFCFC;
  }
  .about{
    color: #FFF;
  }
  .impact{
    color: #FBFCFF;
  }
  .why{
    color: #FBFDFF;
  }
  .blogs{
    color: #FAFBFF;
  }
  .navbar a {
    text-decoration: none;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.36px;
  }
  
  .learn-more {
    font-family: "Inter";
    margin-left: 51.84px;
    color: #FFFFFF;
    border: none;
    border-radius: 8.068px;
    font-size: 18px;
    font-weight: 400;
background: #335A28;
    cursor: pointer;
    width: 183px;
height: 49px;
padding: 8.068px;
  }
  
  .learn-more:hover {
    background-color: #0056b3;
  }
  