.component3{
    display: flex;
padding: 32px 249px;
justify-content: space-evenly;
align-items: center;
gap: 41px;
align-self: stretch;
margin-bottom: 30px;
}
.trust{
    color: #797980;

font-family: "Source Sans Pro";
font-size: 21.707px;
font-style: normal;
font-weight: 700;
line-height: 151%;
}
.shopifySec{
    display: flex;
    color: #797980;
}
.snapdealSec{
    display: flex;
    color: #797980;
}
.imageSec{
    filter: grayscale(100%);
}