.utilized{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 81.44px;
    color: #FFFFFF;
}
.asia{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 81.44px;
    background: linear-gradient(90deg, #5AE908 0%, #FFFFFF 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
    .component1{
        padding-block: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .utilized{
        font-size: 30px;
    }
    .asia{
        font-size: 30px;
    }
}